<style type="text/css">
	.header{
		position: absolute;
		top:0px;
		width: 100%;
		background-color: #ff6666;
		
	}
	.options{
		position: absolute;
		top: 15%;
		width: 100%;
		background-color: #ff6666;
			
	}
</style>




<!-- <link rel="stylesheet" type="text/css" href="./jquery_plugins/perspective-menu/css/normalize.css" />
 <link rel="stylesheet" type="text/css" href="./jquery_plugins/perspective-menu/css/demo.css" />-->
<link rel="stylesheet" type="text/css" href="./jquery_plugins/perspective-menu/css/component.css" />
<script src="./jquery_plugins/perspective-menu/js/modernizr.custom.25376.js"></script>


<div id="perspective" class="perspective effect-airbnb">
	<div class="container-fluid w3-container-fluid">
	<div class="w3-container-fluid">
<div class="header"> 
 <ul class="w3-navbar w3-border w3-xxxlarge" style="background-color:#ff6666;height:100px;">
  <li><a class="" href="#"><i class="fa fa-home">MyExpo</i></a></li>
</ul>
</div>

<div class="options"> 
 <ul class="w3-navbar w3-border w3-xlarge">
 <li><a class="" href="#" id="showMenu"><i class="fa fa-calendar">Categories</i></a></li>
  <li><a class="" href="#" id="showCalender"><i class="fa fa-calendar">Calender</i></a></li>
</ul>
</div>

</div>
		<div class="wrapper"><!-- wrapper needed for scroll -->
			<!-- ... -->
		</div><!-- wrapper -->
	</div><!-- /container -->
<nav class="outer-nav left vertical" id="myclass">
<!-- 	<a href="#" class="icon-home">Home</a>
	<a href="#" class="icon-news">News</a>
	<a href="#" class="icon-image">Images</a>
	<a href="#" class="icon-upload">Uploads</a>
	<a href="#" class="icon-star">Favorites</a>
	<a href="#" class="icon-mail">Messages</a>
	<a href="#" class="icon-lock">Security</a> -->
</nav>
</div><!-- /perspective -->
		<script src="./jquery_plugins/perspective-menu/js/classie.js"></script>
		<script src="./jquery_plugins/perspective-menu/js/menu.js"></script>