<style type="text/css">
	#locationOption{
		position: absolute;
		width:35%;
		height: 25%;
		padding: 25px;
	}
	body {
    
    background-color: #cccccc;
   

}
</style>
<div class="w3-card-4 w3-display-middle w3-white" id="locationOption">
<div class="w3-display-topmiddle w3-padding">
	<label class="w3-label w3-text-blue"><b>Please Select City</b></label>
	<select class="w3-select" name="option">
  	<option value="0" selected>Chennai</option>
  	<option  value="1">Mumbai</option>
  	<option value="2">Bangalore</option>
  	<option value="3">Hyderabad</option>
	</select>
</div>

	<div class="w3-display-bottommiddle w3-padding"><button class="w3-btn w3-large w3-red">Show Expos</button></div>
</div>